FRONTEND_SERVER_URL=http://localhost:3000
NODE_ENV=development

# AWS
AWS_REGION=ap-southeast-1

# Cognito
COGNITO_USER_POOL_ID=ap-southeast-1_Rvj4eBr8d
COGNITO_CLIENT_ID=5ua59rido0r8dlkhladia6s5r9
COGNITO_CLIENT_SECRET=1493bi6n3lu6md07rn3agntepqd62otutaj5f84ta41ritulkv62