FRONTEND_SERVER_URL=http://localhost:3000
NODE_ENV=development

# AWS Configuration
AWS_REGION=AWS_REGION_VALUE

# AWS Cognito
COGNITO_USER_POOL_ID=COGNITO_USER_POOL_ID_VALUE
COGNITO_CLIENT_ID=COGNITO_CLIENT_ID_VALUE
COGNITO_CLIENT_SECRET=COGNITO_CLIENT_SECRET_VALUE

# For metric
METRIC_ACCESS_KEY=METRIC_ACCESS_KEY_VALUE
METRIC_SECRET_KEY=METRIC_SECRET_KEY_VALUE